__pycache__
/build/
/files
/libxen-*.*/
!/libxen-dev.install
/libxen-dev/
/libxenstore3.0/
/stamps/
/xenstore-utils/
/xen-system-*/
/xen-utils-*.*/
/xen-utils-common/
/xen-hypervisor-common/
*.debhelper*
*.substvars
