.debhelper
*.debhelper.*
*.preinst.debhelper
*.postinst.debhelper
*.prerm.debhelper
*.postrm.debhelper
*.substvars
*.stamp
tmp
*-[0-9]*.bug-control
*-[0-9]*.postinst
*-[0-9]*.postrm
*.tmp
files
xen-doc
xen-hypervisor-common
xen-system-amd64
xen-system-armhf
xen-system-arm64
xen-hypervisor-[0-9]*[0-9]
xen-hypervisor-[0-9]*[0-9].install
xen-hypervisor-[0-9]*[0-9].lintian-overrides
xen-utils-[0-9]*[0-9]
xen-utils-[0-9]*[0-9].install
xen-utils-[0-9]*[0-9].NEWS
xen-utils-[0-9]*[0-9].README.Debian
xen-utils-[0-9]*[0-9].lintian-overrides
xen-utils-[0-9]*[0-9].prerm
libxenmisc[0-9]*[0-9].lintian-overrides
libxenmisc[0-9]*[0-9]
libxenmisc[0-9]*[0-9].install
libxenmisc[0-9]*[0-9].lintian-overrides
libxen-dev
libxen*[0-9]
xen-utils-common
xenstore-utils
autoreconf.before
autoreconf.after
debhelper-build-stamp
