#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

SHELL    := sh -e
SOURCE := $(shell dpkg-parsechangelog -SSource)
VERSION := $(shell dpkg-parsechangelog -SVersion)
VERSION_UPSTREAM := $(shell echo "$(VERSION)" | sed -e 's,-[^-]*$$,,')
VERSION_BINNMU := $(shell echo "$(VERSION)" | sed -rne 's,.*\+b([0-9]+)$$,\1,p')

export WGET=/bin/false

%:
	dh $@

setup:
	dh_testdir
	: xxx config.sub etc.
	./configure \
		--disable-stubdom \
		--prefix=/usr \
		--includedir=/usr/include \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
		--mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--with-libexec-leaf-dir=xen-$(VERSION) \
		--disable-blktap1 \
		--disable-blktap2 \
		--disable-ocamltools \
		--disable-qemu-traditional --disable-rombios \
		--with-system-qemu=/usr/bin/qemu-system-i386 \
		--enable-ovmf --with-system-ovmf=/usr/share/ovmf/OVMF.fd \
		--with-system-seabios=/usr/share/seabios/bios-256k.bin

CONFIG = \
		debug=n \
		XEN_COMPILE_ARCH=$(XEN_ARCH) \
		XEN_TARGET_ARCH=$(XEN_ARCH) \
		EXTRA_CFLAGS_XEN_TOOLS="$(CFLAGS)" \
		APPEND_CPPFLAGS="$(CPPFLAGS)" \
		APPEND_LDFLAGS="$(LDFLAGS)" \
		OCAMLDESTDIR=$(CURDIR)/$(BUILD_DIR)/install-utils_$(ARCH)/$(OCAML_STDLIB_DIR) \
		PYTHON=$(shell pyversions -r) \
		LANG=C.UTF-8

build: build-arch build-indep

build-arch: setup
	dh_testdir
	$(MAKE_CLEAN) -C $(DIR)/xen \
		XEN_COMPILE_ARCH=$(XEN_ARCH) \
		XEN_TARGET_ARCH=$(XEN_ARCH) \
	+$(MAKE_CLEAN) -C $(DIR) $(CONFIG) build-tools-public-headers
	+$(MAKE_CLEAN) -C $(DIR)/tools $(CONFIG)

build-indep: setup
	dh_testdir
	$(MAKE_CLEAN) -C $(DIR)/docs

clean: debian/control
	dh_testdir
	rm -rf $(BUILD_DIR) $(STAMPS_DIR) debian/lib/python/debian_xen/__pycache__
	rm -rf $(BUILD_DIR) $(STAMPS_DIR) debian/lib/python/debian_linux/__pycache__
	dh_clean

binary-indep:
	dh_testdir
	dh_testdir
	dh_testroot
	dh_prep
	dh_install -X .svn --sourcedir=$(DIR)
	dh_installinit --name xen -- defaults 20 21
	dh_installinit --name xend
	dh_installinit --name xendomains --no-start -- defaults 21 20
	dh_installman \
		$(SOURCE_DIR)/docs/man1/* \
		$(SOURCE_DIR)/docs/man5/* \
		$(SOURCE_DIR)/docs/man8/*
	dh_installdocs $(SOURCE_DIR)/docs/txt/misc
	dh_link
	dh_ucf
	+$(MAKE_SELF) install-base


binary-arch:
	dh_testdir
	$(MAKE) -f debian/rules.gen binary-arch_$(DEB_HOST_ARCH)
	+$(MAKE_CLEAN) -C $(DIR) install-tools-public-headers \
			DESTDIR=$(CURDIR)/$(INSTALL_DIR) $(CONFIG)
	+$(MAKE_CLEAN) -C $(DIR)/tools install DESTDIR=$(CURDIR)/$(INSTALL_DIR) $(CONFIG)
ifneq ($(filter i386 amd64,$(ARCH)),)
	# hvmloader
	strip --remove-section=.comment --remove-section=.note $(INSTALL_DIR)/usr/lib/xen*/boot/*
endif
	@rm -rf $(INSTALL_DIR)
	+$(MAKE_CLEAN) -C $(SOURCE_DIR)/tools/examples install-configs
	+$(MAKE_CLEAN) -C $(SOURCE_DIR)/tools/hotplug/common install-scripts
	+$(MAKE_CLEAN) -C $(SOURCE_DIR)/tools/hotplug/Linux install-scripts
	+$(MAKE_CLEAN) -C debian/scripts install
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs boot
	dh_install debian/templates/xen-hypervisor.bug/* usr/share/bug/$(PACKAGE_NAME)
	cp $(DIR)/xen/xen$(IMAGE_SUFFIX) debian/$(PACKAGE_NAME)/boot/xen-$(VERSION)-$(FLAVOUR)$(IMAGE_SUFFIX)
ifeq ($(ARCH),amd64)
	cp $(DIR)/xen/xen.efi debian/$(PACKAGE_NAME)/boot/xen-$(VERSION)-$(FLAVOUR).efi
endif
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	dh_install -Xtoolcore --sourcedir=$(DIR) usr/lib/*/lib*-$(VERSION).so*
	dh_install debian/templates/libxen.bug/* usr/share/bug/$(PACKAGE_NAME)
	dh_strip
	dh_makeshlibs -V
	dh_shlibdeps
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	# Move pkgconfig into a multiarch compliant place
	mv $(DIR)/usr/share/pkgconfig $(DIR)/usr/lib/$(DEB_HOST_MULTIARCH)/
	dh_install --sourcedir=$(DIR)
	dh_strip
	dh_shlibdeps
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	dh_install --sourcedir=$(DIR)
	dh_strip
	dh_makeshlibs -V
	dh_shlibdeps
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	install -D -m644 debian/xen-utils.NEWS $(PACKAGE_DIR)/usr/share/doc/$(PACKAGE_NAME)/NEWS
	install -D -m644 debian/xen-utils.README.Debian $(PACKAGE_DIR)/usr/share/doc/$(PACKAGE_NAME)/README.Debian
	cp $(DIR)/usr/sbin/* $(DIR)/usr/lib/xen-$(VERSION)/bin/
	dh_install --sourcedir=$(DIR) usr/lib/xen-$(VERSION)
	dh_install debian/templates/xen-utils.bug/* usr/share/bug/$(PACKAGE_NAME)
	dh_lintian
	( echo -n "misc:Built-Using="; dpkg-query -f='$${source:Package} (= $${source:Version}), ' -W ipxe-qemu seabios; echo ) >> debian/$(PACKAGE_NAME).substvars
	dh_python2 -V$(shell pyversions -rv) /usr/lib/xen-$(VERSION)
	dh_strip
	dh_makeshlibs -V
	dh_shlibdeps
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	dh_install --sourcedir=$(DIR)
	dh_ucf
	+$(MAKE_SELF) install-base
	dh_testdir
	dh_testroot
	dh_prep
	dh_install --sourcedir=$(DIR)
	dh_strip
	dh_shlibdeps
	+$(MAKE_SELF) install-base
	dh_installchangelogs -XChangelog
	dh_installdirs
	dh_installdocs
	dh_installexamples
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- $(GENCONTROL_ARGS)
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch

DIR_ORIG = ../orig/$(SOURCE)-$(VERSION_UPSTREAM)
TAR_ORIG_NAME = $(SOURCE)_$(VERSION_UPSTREAM).orig.tar.xz
TAR_ORIG = $(firstword $(wildcard ../$(TAR_ORIG_NAME)) $(wildcard ../orig/$(TAR_ORIG_NAME)))

orig: $(DIR_ORIG)
	rsync --delete --exclude /debian --exclude .git -a $(DIR_ORIG)/ .
	QUILT_PATCHES='$(CURDIR)/debian/patches' QUILT_PC=.pc quilt push --quiltrc - -a -q --fuzz=0

$(DIR_ORIG):
ifeq ($(TAR_ORIG),)
	$(error Cannot find orig tarball $(TAR_ORIG_NAME))
else
	mkdir -p ../orig
	tar -C ../orig -xaf $(TAR_ORIG)
endif

CONTROL_FILES += debian/changelog debian/bin/gencontrol.py $(wildcard debian/templates/*.in) 
CONTROL_FILES += $(wildcard debian/arch/defines) $(wildcard debian/arch/*/defines)
GENCONTROL = $(__MODULES_DIR)gencontrol.py
debian/control debian/rules.gen: $(CONTROL_FILES)
ifeq ($(wildcard debian/control.md5sum),)
	$(MAKE) -f debian/rules debian/control-real
else ifeq ($(VERSION_BINNMU),)
	md5sum --check debian/control.md5sum --status || \
		$(MAKE) -f debian/rules debian/control-real
else
	grep -v debian/changelog debian/control.md5sum | md5sum --check - --status || \
		$(MAKE) -f debian/rules debian/control-real
endif

debian/control-real: $(CONTROL_FILES)
	debian/bin/gencontrol.py
	md5sum $^ > debian/control.md5sum
	@echo
	@echo This target is made to fail intentionally, to make sure
	@echo that it is NEVER run during the automated build. Please
	@echo ignore the following error, the debian/control file has
	@echo been generated SUCCESSFULLY.
	@echo
	exit 1

.PHONY: clean build binary-indep binary-arch binary
