#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SHELL    := bash -e
SOURCE := $(shell dpkg-parsechangelog -SSource)

VERSION := $(shell dpkg-parsechangelog -SVersion)
VERSION_UPSTREAM := $(shell echo "$(VERSION)" | sed -e 's,-[^-]*$$,,')
VERSION_BINNMU := $(shell echo "$(VERSION)" | sed -rne 's,.*\+b([0-9]+)$$,\1,p')

# work around bug in dpkg-buildpackage between dpkg 1.14.17 and 1.16.1
undefine CFLAGS
undefine CXXFLAGS
undefine FFLAGS
undefine CPPFLAGS
undefine LDFLAGS

export WGET=/bin/false

XENARCH_amd64=x86_64
XENARCH_amd64=x86_64

XEN_ARCH_amd64 = x86_64
XEN_ARCH_i386 = x86_64 # yes, really
XEN_ARCH_armhf = arm32
XEN_ARCH_arm64 = arm64

t=$(PWD)/debian/tmp

dpkg_CFLAGS   := $(shell dpkg-buildflags --get CFLAGS)
dpkg_CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
dpkg_LDFLAGS  := $(shell dpkg-buildflags --get CPPFLAGS)

%:
	dh $@

override_dh_auto_clean:
	: $(MAKE) -j1 distclean

override_dh_auto_configure:
	dh_update_autotools_config
	./configure \
		--disable-stubdom \
		--prefix=/usr \
		--includedir=/ousr/include \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
		--mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--with-libexec-leaf-dir=xen-$(VERSION) \
		--disable-blktap1 \
		--disable-blktap2 \
		--disable-ocamltools \
		--disable-qemu-traditional --disable-rombios \
		--with-system-qemu=/usr/bin/qemu-system-i386 \
		--enable-ovmf --with-system-ovmf=/usr/share/ovmf/OVMF.fd \
		--with-system-seabios=/usr/share/seabios/bios-256k.bin

make_args_common= \
	debug=n

make_args_xen= $(make_args_common) \
	XEN_COMPILE_ARCH=$(XEN_ARCH_$(DEB_BUILD_ARCH)) \
	XEN_TARGET_ARCH=$(XEN_ARCH_$(DEB_BUILD_ARCH))

make_args_tools= $(make_args_common) \
	EXTRA_CFLAGS_XEN_TOOLS='$(dpkg_CFLAGS) $(dpkg_CPPFLAGS)' \
	LDFLAGS='$(dpkg_LDFLAGS)'
	OCAMLDESTDIR=$(CURDIR)/$(BUILD_DIR)/install-utils_$(ARCH)/$(OCAML_STDLIB_DIR) \
	PYTHON=$(shell pyversions -r)

override_dh_auto_build:
	$(MAKE) $(make_args_xen) xen
	$(MAKE) $(make_args_tools) tools docs

override_dh_auto_install:
	$(MAKE) $(make_args_xen) DESTDIR=$t install-xen
	$(MAKE) $(make_args_tools) DESTDIR=$t install-{tools,docs}
ifneq ($(filter i386 amd64,$(ARCH)),)
	# hvmloader
	strip --remove-section=.comment --remove-section=.note $(INSTALL_DIR)/usr/lib/xen*/boot/*
endif
	# fixme dh_install debian/templates/xen-hypervisor.bug/* usr/share/bug/$(PACKAGE_NAME)
	# fixme check cp $(DIR)/xen/xen$(IMAGE_SUFFIX) debian/$(PACKAGE_NAME)/boot/xen-$(VERSION)-$(FLAVOUR)$(IMAGE_SUFFIX)
ifeq ($(ARCH),amd64)
	# fixme check cp $(DIR)/xen/xen.efi debian/$(PACKAGE_NAME)/boot/xen-$(VERSION)-$(FLAVOUR).efi
endif
	# fixme dh_install debian/templates/libxen.bug/* usr/share/bug/$(PACKAGE_NAME)
	# Move pkgconfig into a multiarch compliant place
	# fixme mv $(DIR)/usr/share/pkgconfig $(DIR)/usr/lib/$(DEB_HOST_MULTIARCH)/
	# fixme install -D -m644 debian/xen-utils.NEWS $(PACKAGE_DIR)/usr/share/doc/$(PACKAGE_NAME)/NEWS
	# fixme install -D -m644 debian/xen-utils.README.Debian $(PACKAGE_DIR)/usr/share/doc/$(PACKAGE_NAME)/README.Debian
	# fixme cp $(DIR)/usr/sbin/* $(DIR)/usr/lib/xen-$(VERSION)/bin/
	# fixme dh_install debian/templates/xen-utils.bug/* usr/share/bug/$(PACKAGE_NAME)
	#ndh_lintian
	# fixme ( echo -n "misc:Built-Using="; dpkg-query -f='$${source:Package} (= $${source:Version}), ' -W ipxe-qemu seabios; echo ) >> debian/$(PACKAGE_NAME).substvars
